@font-face {
    font-family: StarWars;
    src: url(../fonts/Death_Star.otf);
}
body, .modal-content{
    background: #000;
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px), radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    font-family: 'Roboto', sans-serif;
}
.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 200px;
    margin-top: 20px;
}
.page-title h1{
    font-family: StarWars;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.margin-top-30px{
    margin-top: 30px;
}
.list-item{
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 15px #fff;
    border-radius: 5px;
}
.list-item span{
    text-align: center;
}
.list-item-text{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.list-item-text p{
    font-size: 20px;
    margin-bottom: 5px;
}
.list-item-text-synopsis{
    font-size: 16px !important;
    text-align: justify;
    line-height: 22px;
}
.list-item-movie-image img{
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.list-item-button{
    margin-top: 20px;
    text-align: center;
}
.has-search .form-control {
    height: 60px;
}
.has-search .form-control-feedback{
    line-height: 61px;
}
.pagination{
    margin-top: 50px;
}
.loading img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer{
    margin-top: 30px;
}
.footer p{
    color: #fff;
    text-align: center;
}
.footer i{
    color: rgb(248, 3, 195);
}
.form-control-borderless {
    border: none;
}
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.fa-search{
    font-size: 30px;
}
.btn-black{
    background: black;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.list-group{
    margin-top: 10px;
}
.star-wars-icon img{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-title{
    font-family: StarWars;
    color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #efff00;
    background-color: #000;
    border-color: #dee2e6 #dee2e6 #000;
}
.nav-item a{
    color: #fff;
}
.close{
    opacity: 1;
    color: #fff;
}
.modal-content{
    border: 2px solid #fff;
}
.table-dark{
    background: transparent;
}
.close {
    color: #fff !important;
    opacity: 1 !important;
}
.card-body {
    padding: 10px;
}
.sort{
    margin-top: 20px;
}