<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Desafio Jera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo">
                                <img src="images/star_wars_logo.png">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title">
                                <h1>{{pageTitle}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fa fa-search h4 text-body"></i>
                                    </div>
                                    <div class="col">
                                        <input v-model="searchTerm" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Pesquise por nomes de filmes do Star Wars">
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-dark btn-black" type="submit" @click.stop.prevent="searchMovieByName()">Pesquisar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <div class="input-group sort">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Ordenar Por</label>
                                </div>
                                <select @change="onChangeSelect($event)" class="custom-select" id="inputGroupSelect01">
                                    <option selected>Escolha...</option>
                                    <option value="name">Nome</option>
                                    <option value="date">Data</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div v-if="loadingStatus" class="container-fluid">
            <loading-element></loading-element>
        </div>
        <section>
            <div class="container-fluid" v-if="!loadingStatus">
                <div class="container">
                    <div class="row" v-for="i in Math.ceil(moviesList.length / 3)">
                        <div class="col-md-4 margin-top-30px" v-for="movie in moviesList.slice((i - 1) * 3, i * 3)">
                            <div class="list-item">
                                <div class="list-item-movie-image">
                                    <img src="images/demo_star_wars.png" class="img-fluid">
                                </div>
                                <div class="list-item-text">
                                    <span class="badge badge-secondary">Nome do Filme</span>
                                    <p>{{movie.title}}</p>
                                </div>
                                <hr>
                                <div class="list-item-text">
                                    <span class="badge badge-secondary">Data de lançamento</span>
                                    <p>{{movie.release_date | formateDate()}}</p>
                                </div>
                                <hr>
                                <div class="list-item-text">
                                    <span class="badge badge-secondary">Diretor</span>
                                    <p>{{movie.director}}</p>
                                </div>
                                <hr>
                                <div class="list-item-text">
                                    <span class="badge badge-secondary">Sinopse</span>
                                    <p class="list-item-text-synopsis">{{movie.opening_crawl}}</p>
                                </div>
                                <div class="list-item-button">
                                    <button type="button" class="btn btn-dark btn-black" data-toggle="modal" data-target=".bd-example-modal-lg" @click="loadSingleMovie(movie.url)">Ver Detalhes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <ul class="pagination pagination-lg justify-content-center">
                                    <li class="page-item" :class="prevPage == null ? 'disabled':''">
                                        <a class="page-link"  :href="prevPage">Anterior</a>
                                    </li>
                                    <li class="page-item" :class="nextPage == null ? 'disabled':''">
                                        <a class="page-link" :href="nextPage">Próximo</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{movieItem.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <div v-if="loadingModalStatus" class="container-fluid">
                            <loading-element></loading-element>
                        </div>
                        <div class="row" v-if="!loadingModalStatus">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a @click="loadMovieCharactersOnClick()" class="nav-link active" id="characters-tab" data-toggle="tab" href="#characters" role="tab" aria-controls="characters" aria-selected="true">Personagens</a>
                                    </li>
                                    <li class="nav-item">
                                        <a @click="loadMoviePlanetsOnClick()" class="nav-link" id="planets-tab" data-toggle="tab" href="#planets" role="tab" aria-controls="planets" aria-selected="false">Planetas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a @click="loadMovieSpeciesOnClick()" class="nav-link" id="species-tab" data-toggle="tab" href="#species" role="tab" aria-controls="species" aria-selected="false">Espécies</a>
                                    </li>
                                    <li class="nav-item">
                                        <a @click="loadMovieStarshipsOnClick()" class="nav-link" id="starships-tab" data-toggle="tab" href="#starships" role="tab" aria-controls="starships" aria-selected="false">Naves</a>
                                    </li>
                                    <li class="nav-item">
                                        <a @click="loadMovieVehiclesOnClick()" class="nav-link" id="vehicles-tab" data-toggle="tab" href="#vehicles" role="tab" aria-controls="vehicles" aria-selected="false">Veículos</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="characters" role="tabpanel" aria-labelledby="characters-tab">
                                        <div class="star-wars-icon">
                                            <img src="images/Master-Joda-icon.png">
                                        </div>
                                        <div v-if="loadingModalContentTabStatus" class="container-fluid">
                                            <loading-element></loading-element>
                                        </div>
                                        <table v-if="!loadingModalContentTabStatus" class="table table-bordered table-dark table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nome</th>
                                                    <th scope="col">Altura</th>
                                                    <th scope="col">Peso</th>
                                                    <th scope="col">Cabelo</th>
                                                    <th scope="col">Pele</th>
                                                    <th scope="col">Olhos</th>
                                                    <th scope="col">Gênero</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="movieCharacter in movieCharactersList">
                                                    <th>{{movieCharacter.name}}</th>
                                                    <td>{{movieCharacter.height}}</td>
                                                    <td>{{movieCharacter.mass}}</td>
                                                    <td>{{movieCharacter.hair_color}}</td>
                                                    <th>{{movieCharacter.skin_color}}</th>
                                                    <td>{{movieCharacter.eye_color}}</td>
                                                    <td>{{movieCharacter.gender}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="planets" role="tabpanel" aria-labelledby="planets-tab">
                                        <div class="star-wars-icon">
                                            <img src="images/Darth-Vader-icon.png">
                                        </div>
                                        <div v-if="loadingModalContentTabStatus" class="container-fluid">
                                            <loading-element></loading-element>
                                        </div>
                                        <table v-if="!loadingModalContentTabStatus" class="table table-bordered table-dark table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nome</th>
                                                    <th scope="col">Clima</th>
                                                    <th scope="col">Gravidade</th>
                                                    <th scope="col">Água</th>
                                                    <th scope="col">População</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="moviePlanet in moviePlanetsList">
                                                    <th>{{moviePlanet.name}}</th>
                                                    <td>{{moviePlanet.climate}}</td>
                                                    <td>{{moviePlanet.gravity}}</td>
                                                    <td>{{moviePlanet.surface_water | formateWaterInfo()}}</td>
                                                    <th>{{moviePlanet.population}}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="species" role="tabpanel" aria-labelledby="species-tab">
                                        <div class="star-wars-icon">
                                            <img src="images/R2D2-icon.png">
                                        </div>
                                        <div v-if="loadingModalContentTabStatus" class="container-fluid">
                                            <loading-element></loading-element>
                                        </div>
                                        <table v-if="!loadingModalContentTabStatus" class="table table-bordered table-dark table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nome</th>
                                                    <th scope="col">Classificação</th>
                                                    <th scope="col">Designação</th>
                                                    <th scope="col">Tempo de vida</th>
                                                    <th scope="col">Idioma</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="movieSpecie in movieSpeciesList">
                                                    <th>{{movieSpecie.name}}</th>
                                                    <td>{{movieSpecie.classification}}</td>
                                                    <td>{{movieSpecie.designation}}</td>
                                                    <td>{{movieSpecie.average_lifespan}}</td>
                                                    <th>{{movieSpecie.language}}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="starships" role="tabpanel" aria-labelledby="starships-tab">
                                        <div class="star-wars-icon">
                                            <img src="images/Clone-Trooper-icon.png">
                                        </div>
                                        <div v-if="loadingModalContentTabStatus" class="container-fluid">
                                            <loading-element></loading-element>
                                        </div>
                                        <table v-if="!loadingModalContentTabStatus" class="table table-bordered table-dark table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nome</th>
                                                    <th scope="col">Modelo</th>
                                                    <th scope="col">Fabricante</th>
                                                    <th scope="col">Tripulação</th>
                                                    <th scope="col">Classe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="movieStarship in movieStarshipsList">
                                                    <th>{{movieStarship.name}}</th>
                                                    <td>{{movieStarship.model}}</td>
                                                    <td>{{movieStarship.manufacturer}}</td>
                                                    <td>{{movieStarship.crew}}</td>
                                                    <th>{{movieStarship.starship_class}}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="vehicles" role="tabpanel" aria-labelledby="vehicles-tab">
                                        <div class="star-wars-icon">
                                            <img src="images/Death-Star-icon.png">
                                        </div>
                                        <div v-if="loadingModalContentTabStatus" class="container-fluid">
                                            <loading-element></loading-element>
                                        </div>
                                        <table v-if="!loadingModalContentTabStatus" class="table table-bordered table-dark table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nome</th>
                                                    <th scope="col">Modelo</th>
                                                    <th scope="col">Fabricante</th>
                                                    <th scope="col">Tripulação</th>
                                                    <th scope="col">Classe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="movieVehicle in movieVehiclesList">
                                                    <th>{{movieVehicle.name}}</th>
                                                    <td>{{movieVehicle.model}}</td>
                                                    <td>{{movieVehicle.manufacturer}}</td>
                                                    <td>{{movieVehicle.crew}}</td>
                                                    <th>{{movieVehicle.vehicle_class}}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <p>Desenvolvido com <i class="fa fa-heart"></i> por Michel Motta da Silva para o Desafio Jera.</p>
            </div>
        </footer>
    </div>
    <template id="loading">
        <div class="container">
            <div class="col-md-12">
                <div class="loading">
                    <img src="images/loading.gif">
                </div>
            </div>
        </div>
    </template>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>